.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #2a2a2a;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.searchbar input {
  width: 40vw;
  height: 3rem;
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  border-radius: 10px;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(135deg, #4a90e2, #9013fe) border-box;
  font-size: 1rem;
  color: #2a2a2a;
  transition: box-shadow 0.3s, border 0.3s;
}

.searchbar input:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(74, 144, 226, 0.5);
  border: 2px solid #4a90e2;
}

.searchbar input::placeholder {
  color: #c6c6c6;
  font-size: 1rem;
}
